  @font-face {
    font-family: TokyoTaiyaki;
    src: url('/assets/fonts/TokyoTaiyaki.otf');
  }

  @font-face {
    font-family: Inter;
    src: url('/assets/fonts/Inter.ttf');
  }
  
  body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/images/background.jpg");
    font-family: Inter, sans-serif;
    color: #17171f;
  }
  
  .container {
    max-width: 800px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3em 2em auto 3em;
    grid-template-areas: 
    "header"
    "scoreboard"
    "section1"
    "section2"
    "footer";
  }

  header {
    text-align: center;
    grid-area: header;
    /* background-color: antiquewhite; */
    font-family: 'TokyoTaiyaki', cursive;
  }

  @keyframes animate8345 {
    0%,100% {
      filter: hue-rotate(0deg);
    }
  
    50% {
      filter: hue-rotate(360deg);
    }
  }
  
  .loader {
    color: rgb(0, 0, 0);
    background: linear-gradient(to right, #2d60ec, #3ccfda);
    font-size: 48px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate8345 9s linear infinite;
    font-weight: bold;
  }

  .scoreboard {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-area: scoreboard;
    /* background-color: aliceblue; */
    font-family: 'TokyoTaiyaki', cursive;
  }

  .colores {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

  .color-code {
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: xx-large; 
  }

  section1.color-code {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    grid-area: section1;
  }
  
  section2.color-options {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
    grid-area: section2;
  }

  .color-option-svg {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    width: 100px;
    height: 100px;
    margin: 0 5px;
  }

  .color-option-svg:hover {
    transform: scale(1.05);
  }

  footer {
    text-align: center;
    grid-area: footer;
    color: black;
    /* background-color: bisque; */
  }

  a {
    color:#17171f
  }

  a:hover {
    color: black
  }

  @media (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 300px;
        grid-template-rows: 3em 2em auto auto auto 3em;
        grid-template-areas: 
        "header" "header"
        "scoreboard" "scoreboard"
        "colores" "colores"
        "section" "section"
        "aside" "aside"
        "footer" "footer";
      }
  }

  @media (max-width: 500px) {
    :root {
        display: none;
    }
  }